:root {

    --font-primary: 'inter', sans-serif;

    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --color-600: #333333;
    --color-300: #828282;
    --gray-100: #E0E0E0;

    --Title-Weight1: 700;
    --Title-Weight2: 600;
    --Title--Weight3: 400;

    --Title-Heading1: 26px;
    --Title-Heading2: 22px;
    --Title-Heading3: 18px;
    --Title-Headline: 16px;
    --Title-body: 14px;
    
    --Title-caption: 12px;



}